//Cores principais
$white: #FFFCF2;
$light-gray: #CCC5B9;
$gray: #403D39;
$dark-gray:#252422;
$ligth-orange: #EB5E28;


//Tons de creme
$light-cream-01: #FFEDD8;
$light-cream-02: #F3D5B5;
$light-cream-03: #E7BC91;
$light-cream-04: #D4A276;
$light-cream-05: #BC8A5F;


//Tons de caramelo
$caramel-01: #A47148;
$caramel-02: #8B5E34;
$caramel-03: #6F4518;
$caramel-04: #603808;
$caramel-05: #583101;