@import 'colors';

body{
    background-color: $dark-gray;
}

// interface do site
.interface{
    max-width: 1280px;
    margin: 0 auto;
}

// home inicial com a configuração da imagem
.home{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.home::before{
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to left, rgba(64, 44, 14, 0.407), #000408), url("../../assets/imagens/imagem-fundo-home.svg");
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 90% 0;
    opacity: 10;
}


//navbar
.cabecalho{
    margin-top: 30px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    

    ul{
        display: flex;
        gap: 60px;   
    }

    li{
        color: $white;
        cursor: pointer;
       }
}


// botoes de login e sing in do navbar
button{
    border: 0;
}

.login{
    background-color: $dark-gray;
    color: $light-cream-05;
    font-weight: 700;
    border: 2px solid $light-cream-05;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms ;
}

.login:hover{
    transform: translateY(-5px);
    background-color: $white;
    color: $dark-gray;
    border: 0;
}

.sing-in{
   background-color: $light-cream-05;
   font-weight: 700;
   color: $white;
   width: 80px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms ;
}

.sing-in:hover{
    transform: translateY(-5px);
    background-color: $white;
    color: $dark-gray;
    border: 0;
}

//container prinicipal (main)
.container-principal{
    display: flex;
}

//sessão inicial da home
.text-inicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;

    img{
        width: 300px;
        height: auto;
    }

    p{
        color: $white;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
    }

    .btn-veja-mais{
        width: 320px;
        height: 40px;
        border-radius: 10px;
        margin-top: 10px;
        background-color: $light-cream-05;
        color: $white;
        font-weight: 700;
        cursor: pointer;
        transition: 500ms ;
    }

    .btn-veja-mais:hover{
        transform: translateY(-5px);
    background-color: $white;
    color: $dark-gray;
    }
}


