@import 'colors';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cadastro-signin{
    p{
        color: $white;

        a{
            color: $white;
            text-decoration: underline;
        }
    }

    #conta-criada{
        color: rgb(8, 222, 8);
        margin-top: 3px;
        display: none;
    }

    .btn{
        background-color: $light-cream-04;
        width: 270px;
        height: 40px;
        border-radius: 10px;
        font-size: 1rem;
        color: $white;
        transition: 500ms;
        cursor: pointer;
    }
    
    .btn:hover{
        transform: translateY(-5px);
        background-color: $white;
       color: $dark-gray;
    }
}


