@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abhaya Libre";
}

body {
  background-color: #252422;
}

html {
  scrollbar-width: none;
}

.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 45px;
}

.home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to left, rgba(64, 44, 14, 0.407), #000408), url("../../assets/imagens/background-home.jpg");
  left: 0;
  top: 0;
  width: 100%;
  height: 700px;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 90% 0;
  opacity: 10;
}

.cabecalho {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.navbar ul {
  display: flex;
  gap: 60px;
}
.navbar li a {
  color: #FFFCF2;
  cursor: pointer;
  font-size: 1rem;
}

.botoes {
  display: flex;
  gap: 20px;
}

button {
  border: 0;
  font-size: 1.3rem;
}

.login {
  background-color: #252422;
  color: #BC8A5F;
  font-size: 1rem;
  font-weight: 700;
  border: 2px solid #BC8A5F;
  width: 80px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: 500ms;
}

.login:hover {
  transform: translateY(-5px);
  background-color: #FFFCF2;
  color: #252422;
  border: 0;
}

.sing-in {
  background-color: #BC8A5F;
  font-weight: 700;
  font-size: 1rem;
  color: #FFFCF2;
  width: 80px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: 500ms;
}

.sing-in:hover {
  transform: translateY(-5px);
  background-color: #FFFCF2;
  color: #252422;
  border: 0;
}

.btn-abrir-menu i {
  display: none;
  font-size: 40px;
  cursor: pointer;
}

.menu-mobile {
  display: flex;
  flex-direction: column;
  background-color: #403D39;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 0%;
  overflow: hidden;
  transition: 0.5s;
}

.menu-mobile.abrir-menu {
  width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
  display: block;
}

.menu-mobile .btn-fechar {
  padding: 22px 4%;
  display: flex;
  justify-content: end;
}

.menu-mobile .btn-fechar i {
  color: #FFFCF2;
  font-size: 40px;
  cursor: pointer;
}

.menu-mobile nav ul {
  text-align: right;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.menu-mobile nav ul li {
  display: flex;
}

.menu-mobile nav ul li i {
  font-size: 2rem;
}

.menu-mobile nav ul li a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 20px 8%;
  display: block;
}

.menu-mobile nav ul li:hover {
  background-color: #BC8A5F;
  color: #FFFCF2;
}

.cardapio, .produtos, .suporte {
  margin-right: 30px;
}

.sobre {
  margin-right: 50px;
}

.overlay-menu {
  background-color: rgba(0, 0, 0, 0.6549019608);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 8888;
  display: none;
}

.text-inicial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}
.text-inicial img {
  width: 250px;
  height: auto;
  margin-top: 30px;
}
.text-inicial h1 {
  color: #FFFCF2;
  font-size: 3.5rem;
  margin-top: -30px;
}
.text-inicial p {
  color: #FFFCF2;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 3px;
  line-height: 4px;
}
.text-inicial .btn-veja-mais {
  width: 340px;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #BC8A5F;
  color: #FFFCF2;
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 500ms;
}
.text-inicial .btn-veja-mais:hover {
  transform: translateY(-5px);
  background-color: #FFFCF2;
  color: #252422;
}

.container-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-principal hr {
  color: #FFFCF2;
  width: 1450px;
}
.container-principal h1 {
  color: #FFFCF2;
  margin-top: 50px;
  font-size: 3rem;
}

.container-video {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.video video {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.container-texto-imagens {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 700px;
  padding: 50px 9%;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.3));
}
.container-texto-imagens .textos h1 {
  color: #FFFCF2;
  font-size: 4rem;
  margin-bottom: -20px;
}
.container-texto-imagens .textos h2 {
  color: #A47148;
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.container-texto-imagens .textos p {
  color: #FFFCF2;
  font-size: 1.2rem;
  line-height: 2.3rem;
  letter-spacing: 0.3px;
  text-align: justify;
  text-indent: 50px;
}
.container-texto-imagens .textos p span {
  text-transform: uppercase;
  font-weight: 800;
  color: #E7BC91;
}
.container-texto-imagens .imagem-capa img {
  width: 400px;
}

.conheca {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 8%;
  margin-bottom: 50px;
  gap: 50px;
}
.conheca h1 {
  font-size: 4rem;
  color: #FFFCF2;
}
.conheca .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 60px;
}
.conheca .cards .icone-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.conheca .cards .icone-card i {
  color: #E7BC91;
  font-size: 2.6rem;
}
.conheca .cards .icone-card p {
  color: #FFFCF2;
  width: 280px;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.horario-localizacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  background-color: #403D39;
  padding: 40px 8%;
}
.horario-localizacao h1 {
  font-size: 4rem;
  color: #F3D5B5;
}
.horario-localizacao .funcionamento {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
.horario-localizacao .funcionamento .horario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.horario-localizacao .funcionamento .horario span {
  text-align: center;
  color: #E7BC91;
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 800;
}
.horario-localizacao .funcionamento .horario p {
  color: #FFFCF2;
  font-size: 2.2rem;
}
.horario-localizacao .funcionamento .localizacao iframe {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  background-image: url("../../assets/imagens/Footer-Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 60%;
  z-index: 1;
}

.f-brand {
  display: flex;
  align-items: center;
}

.f-brand .img-brand {
  margin: 20px;
}
.f-brand .img-brand img {
  width: 140px;
}

.f-brand .text-brand h3 {
  color: #FFFCF2;
  font-size: 2.7rem;
  border-bottom: 1px solid #FFFCF2;
  padding: 10px 10px 10px 0;
}
.f-brand .text-brand p {
  color: #FFFCF2;
  font-size: 1.5rem;
  padding: 10px 10px 10px 0;
}

.contacts {
  display: flex;
  align-items: center;
  margin: 20px;
}
.contacts hr {
  height: 250px;
}

.contacts .phone-num {
  font-size: 25px;
  font-weight: 700;
  padding: 10px;
  display: flex;
  align-items: center;
}
.contacts .phone-num li {
  list-style: disc;
  padding: 10px;
  color: #FFFCF2;
}

.contacts .social-media {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 10px;
}
.contacts .social-media a {
  color: #FFFCF2;
  transition: 0.5s;
}
.contacts .social-media i {
  font-size: 36px;
  padding: 5px;
}

.contacts .social-media a:hover {
  color: #E7BC91;
  transform: scale(1.1);
}

@media (max-width: 480px) {
  .text-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
  }
  .text-inicial img {
    width: 150px;
    height: auto;
  }
  .text-inicial h1 {
    font-size: 2.7rem;
  }
  .text-inicial p {
    font-size: 1.3rem;
  }
  .text-inicial .btn-veja-mais {
    width: 250px;
    height: 50px;
  }
  .cabecalho {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
  }
  .btn-abrir-menu i {
    display: block;
    color: #FFFCF2;
    font-size: 40px;
    margin-right: 300px;
  }
  .navbar {
    display: none;
  }
  .botoes {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 19px;
    margin-top: 20px;
  }
  .botoes .login {
    background-color: #252422;
    color: #BC8A5F;
    font-weight: 700;
    border: 2px solid #BC8A5F;
    width: 180px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms;
  }
  .botoes .login:hover {
    transform: translateY(-5px);
    background-color: #FFFCF2;
    color: #252422;
    border: 0;
  }
  .botoes .sing-in {
    background-color: #BC8A5F;
    font-weight: 700;
    color: #FFFCF2;
    width: 180px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms;
  }
  .botoes .sing-in:hover {
    transform: translateY(-5px);
    background-color: #FFFCF2;
    color: #252422;
    border: 0;
  }
  .video video {
    height: 1160px;
  }
  .container-texto-imagens {
    height: 1160px;
    gap: 20px;
    flex-direction: column;
  }
  .container-texto-imagens .textos h1 {
    color: #FFFCF2;
    font-size: 3.5rem;
    margin-bottom: 3px;
    text-align: center;
  }
  .container-texto-imagens .textos h2 {
    color: #BC8A5F;
    font-size: 2.1rem;
    margin-bottom: 17px;
    text-align: center;
  }
  .container-texto-imagens .textos p {
    color: #FFFCF2;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.2px;
    text-align: justify;
    text-indent: 50px;
    padding: 13px;
  }
  .container-texto-imagens .textos p span {
    text-transform: uppercase;
    font-weight: 800;
    color: #E7BC91;
  }
  .container-texto-imagens .imagem-capa img {
    width: 350px;
  }
  .conheca {
    padding: 20px 4%;
    margin-bottom: 50px;
    gap: 60px;
  }
  .conheca h1 {
    font-size: 4rem;
  }
  .conheca .cards {
    flex-direction: column;
    gap: 70px;
  }
  .conheca .cards .icone-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }
  .conheca .cards .icone-card i {
    color: #E7BC91;
    font-size: 4.5rem;
  }
  .conheca .cards .icone-card p {
    color: #FFFCF2;
    width: 300px;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  .horario-localizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 100%;
    background-color: #403D39;
    padding: 40px 8%;
  }
  .horario-localizacao h1 {
    font-size: 3.5rem;
    text-align: center;
    color: #F3D5B5;
    margin-bottom: -18px;
  }
  .horario-localizacao .funcionamento {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .horario-localizacao .funcionamento .horario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .horario-localizacao .funcionamento .horario span {
    text-align: center;
    color: #E7BC91;
    text-transform: uppercase;
    font-size: 2.1rem;
    font-weight: 800;
  }
  .horario-localizacao .funcionamento .horario p {
    color: #FFFCF2;
    font-size: 2.2rem;
  }
  .horario-localizacao .funcionamento .localizacao iframe {
    width: 320px;
    height: 320px;
    border-radius: 10px;
  }
  footer {
    flex-direction: column;
    height: 570px;
  }
  .f-brand {
    flex-direction: column;
  }
  .f-brand .img-brand {
    margin-bottom: -15px;
  }
  .f-brand .img-brand img {
    width: 140px;
  }
  .f-brand .text-brand h3 {
    text-align: center;
  }
  .f-brand .text-brand p {
    font-size: 1.3rem;
    padding: 10px 10px 10px 0;
    text-align: center;
    text-indent: 4px;
  }
  .contacts {
    flex-direction: column;
  }
  .contacts hr {
    height: 0px;
    width: 320px;
  }
  .contacts .phone-num {
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  .contacts .phone-num li {
    list-style: disc;
    padding: 10px;
    color: #FFFCF2;
  }
  .contacts .social-media {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-left: 12px;
    margin-top: 10px;
  }
  .contacts .social-media a {
    color: #FFFCF2;
    transition: 0.5s;
  }
  .contacts .social-media i {
    font-size: 36px;
    padding: 5px;
  }
  .contacts .social-media a:hover {
    color: #E7BC91;
    transform: scale(1.1);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
}

.logo-login img {
  width: 100px;
}

h1 {
  color: #FFFCF2;
}

#imagem-fundo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(to right, rgba(5, 3, 0, 0.689), rgba(0, 4, 8, 0.6117647059)), url("../../assets/imagens/background-login-signin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 90%;
  position: relative;
}
#imagem-fundo #cadastro {
  background-color: rgba(80, 78, 78, 0.463);
  border: 3px solid #FFFCF2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 400px;
  height: 600px;
  gap: 20px;
}
#imagem-fundo #cadastro h3 {
  color: #FFFCF2;
  font-size: 2rem;
  text-align: center;
}
#imagem-fundo #cadastro form input {
  width: 270px;
  height: 50px;
  border-radius: 10px;
  padding: 0 10px;
  background-color: rgba(116, 73, 33, 0.877);
  border: 0;
  color: #FFFCF2;
}
#imagem-fundo #cadastro input::-moz-placeholder {
  color: #FFFCF2;
}
#imagem-fundo #cadastro input::placeholder {
  color: #FFFCF2;
}
#imagem-fundo #cadastro input:focus {
  outline: none;
}
#imagem-fundo #cadastro #erro {
  color: red;
  margin-top: 3px;
  display: none;
}
#imagem-fundo #cadastro .criar-ou-enviar {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 20px;
}
#imagem-fundo #cadastro .criar-ou-enviar .esqueceu-senha {
  color: #FFFCF2;
  text-decoration: underline;
}
#imagem-fundo #cadastro .criar-ou-enviar .btn {
  background-color: #D4A276;
  width: 270px;
  height: 40px;
  border-radius: 10px;
  font-size: 1rem;
  color: #FFFCF2;
  transition: 500ms;
  cursor: pointer;
}
#imagem-fundo #cadastro .criar-ou-enviar .btn:hover {
  transform: translateY(-5px);
  background-color: #FFFCF2;
  color: #252422;
}
#imagem-fundo #cadastro .linhas {
  display: flex;
  align-items: center;
  gap: 5px;
}
#imagem-fundo #cadastro .linhas p {
  color: #FFFCF2;
}
#imagem-fundo #cadastro .linhas hr {
  width: 150px;
  height: 2px;
}
#imagem-fundo #cadastro .opcoes-login {
  display: flex;
  flex-direction: column;
}
#imagem-fundo #cadastro .opcoes-login li {
  border: 2px solid #FFFCF2;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #FFFCF2;
  cursor: pointer;
  transition: 0.5s ease;
}
#imagem-fundo #cadastro .opcoes-login i {
  margin-right: 6px;
}
#imagem-fundo #cadastro .opcoes-login li:hover {
  background-color: #FFFCF2;
  color: rgba(116, 73, 33, 0.877);
  transform: scale(1.1);
}
#imagem-fundo #cadastro .div-criar-conta {
  display: flex;
  flex-direction: row;
  gap: 3px;
}
#imagem-fundo #cadastro .div-criar-conta p {
  color: #FFFCF2;
}
#imagem-fundo #cadastro .div-criar-conta .criar-conta {
  color: #FFFCF2;
  text-decoration: underline;
}

@media (max-width: 480px) {
  #imagem-fundo #cadastro {
    background-color: transparent;
    border: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cadastro-signin p {
  color: #FFFCF2;
}
.cadastro-signin p a {
  color: #FFFCF2;
  text-decoration: underline;
}
.cadastro-signin #conta-criada {
  color: rgb(8, 222, 8);
  margin-top: 3px;
  display: none;
}
.cadastro-signin .btn {
  background-color: #D4A276;
  width: 270px;
  height: 40px;
  border-radius: 10px;
  font-size: 1rem;
  color: #FFFCF2;
  transition: 500ms;
  cursor: pointer;
}
.cadastro-signin .btn:hover {
  transform: translateY(-5px);
  background-color: #FFFCF2;
  color: #252422;
}

.b-products {
  color: #FFFCF2;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Abhaya";
}

/*Cabeçalho*/
.cabecalho-2 {
  background-image: linear-gradient(90deg, black, black, transparent, transparent), url(../../assets/imagens/imagem-home.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-flex;
}

.cabecalho-2 .brand {
  display: flex;
}

.cabecalho-2 .brand .brand-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cabecalho-2 .brand .brand-text .brand-title {
  font-family: "Abhaya";
  font-size: 28px;
}

.cabecalho-2 .brand .brand-text .brand-subtitle {
  font-weight: 300;
  font-size: 20px;
}

.cabecalho-2 .brand img {
  width: 90px;
}

.cabecalho-2 .navbar-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cabecalho-2 .navbar-2 ul {
  display: flex;
}

.cabecalho-2 .navbar-2 ul li a {
  margin: 0 15px 0 15px;
  text-decoration: none;
  color: #FFFCF2;
}

.btn-abrir-menu i {
  display: none;
  font-size: 40px;
  cursor: pointer;
}

.menu-mobile {
  display: flex;
  flex-direction: column;
  background-color: #403D39;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 0%;
  overflow: hidden;
  transition: 0.5s;
}

.menu-mobile.abrir-menu {
  width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
  display: block;
}

.menu-mobile .btn-fechar {
  padding: 22px 4%;
  display: flex;
  justify-content: end;
}

.menu-mobile .btn-fechar i {
  color: #FFFCF2;
  font-size: 40px;
  cursor: pointer;
}

.menu-mobile nav ul {
  text-align: right;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.menu-mobile nav ul li {
  display: flex;
}

.menu-mobile nav ul li i {
  font-size: 2rem;
}

.menu-mobile nav ul li a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 20px 8%;
  display: block;
}

.menu-mobile nav ul li:hover {
  background-color: #BC8A5F;
  color: #FFFCF2;
}

.cardapio, .produtos, .suporte, .carrinho {
  margin-right: 30px;
}

.sobre {
  margin-right: 50px;
}

.overlay-menu {
  background-color: rgba(0, 0, 0, 0.6549019608);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 8888;
  display: none;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  margin: 30px 70px 0 70px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 1px black;
  background-image: linear-gradient(90deg, black, transparent, black), url(../../assets/imagens/parallax-fundo-produtos.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.title h1 {
  font-size: 40px;
  font-family: "Abhaya";
  padding: 10px;
  border-top: 2px solid #FFFCF2;
  border-bottom: 2px solid #FFFCF2;
}

.container {
  margin: 0 50px 10px 50px;
}

.produtos {
  margin-top: 0;
}

.sec-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 20px 10px 20px;
  border-bottom: 3px solid #E7BC91;
  border-radius: 15px;
}

.sec-toggler .open {
  display: flex;
  padding: 20px 50px;
  cursor: pointer;
  transition: 0.2s;
  border-bottom: 3px solid transparent;
  opacity: 0.7;
}

.sec-toggler .open.active {
  background-color: #403D39;
  transform: scale(1.1);
  border-bottom: 3px solid #BC8A5F;
  opacity: 1;
}

.sec-toggler .open:hover {
  color: #F3D5B5;
  text-decoration: underline;
}

.sections {
  display: flex;
  flex-direction: row;
}

.section {
  display: flex;
  flex-wrap: wrap;
  height: 1100px;
}

.card {
  width: 335px;
  height: 250px;
  margin: 30px;
  border-radius: 20px;
  display: none;
  transition: 800ms;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card.active {
  display: block;
}

.card-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-img img {
  width: 349px;
}

.card-body {
  font-family: "Abhaya";
  border: 1px solid #FFFCF2;
  padding: 10px;
  margin-top: -5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 30px;
  height: 250px;
  box-shadow: 0px 5px 10px 1px black;
}

.card-body h2 {
  border-bottom: 1px solid #FFFCF2;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.card-body h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-body p {
  font-size: 18px;
}

.card-body .btn-card {
  margin-top: 20px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
.card-body .btn-card .calc {
  display: inline-flex;
  align-items: center;
}
.card-body .btn-card .calc button {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #FFFCF2;
  font-size: 20px;
  text-align: center;
  transition: 0.2s;
}
.card-body .btn-card .calc button:hover {
  transform: scale(1.05);
}
.card-body .btn-card .add {
  padding: 15px 20px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #FFFCF2;
  color: #FFFCF2;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  transition: 0.3s;
  font-family: "Abhaya";
}
.card-body .btn-card .add i {
  margin-left: 10px;
  font-size: 20px;
}
.card-body .btn-card .add:hover {
  background-color: #8B5E34;
  border: 1px solid #A47148;
  transform: scale(1.07);
}
.card-body .btn-card .n-card {
  margin: 0 10px;
  font-size: 26px;
}

.fade, .modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

.fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 1000px;
  height: 625px;
  max-width: 90%;
  background-color: #252422;
  border-radius: 20px;
  z-index: 5;
}
.modal .modal-img {
  display: flex;
  justify-content: center;
  width: 2500px;
  filter: brightness(70%);
  overflow: hidden;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.modal .modal-textos .header {
  background-image: linear-gradient(to left, rgba(64, 44, 14, 0.407), #000408), url(../../assets/imagens/imagem-home.png);
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #FFFCF2;
  border: 0;
}
.modal .modal-textos .header img {
  width: 100px;
}
.modal .modal-textos .header .m-header-title {
  display: flex;
  border: none;
  width: 200px;
  align-items: center;
  justify-content: left;
  font-size: 25px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.modal .modal-textos .header .brand-modal {
  display: flex;
  justify-content: left;
}
.modal .modal-textos .header .sair {
  display: flex;
  justify-content: right;
  align-items: center;
}
.modal .modal-textos .header .sair .esc {
  background-color: black;
  color: #A47148;
  padding: 10px;
  width: 70px;
  border: 2px solid #A47148;
  border-radius: 10px;
  margin-right: 10px;
  transition: 0.5s;
}
.modal .modal-textos .header .sair .esc:hover {
  transform: scale(1.1);
  background-color: #A47148;
  color: #FFFCF2;
  font-weight: 700;
  cursor: pointer;
}
.modal .modal-textos .m-principal {
  height: 65%;
  color: #FFFCF2;
  padding: 25px;
}
.modal .modal-textos .m-principal .m-title {
  border-bottom: 2px solid #FFFCF2;
  padding: 10px;
  margin-bottom: 30px;
}
.modal .modal-textos .m-principal h3 {
  font-size: 30px;
  margin-bottom: 5px;
}
.modal .modal-textos .m-principal p {
  font-size: 20px;
  font-family: "Abhaya";
}
.modal .modal-textos .m-btns {
  display: flex;
  font-family: "Abhaya";
  justify-content: center;
  color: #FFFCF2;
  font-size: 25px;
}
.modal .modal-textos .m-btns button {
  padding: 18px 22px;
  cursor: pointer;
}
.modal .modal-textos .m-btns .calc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}
.modal .modal-textos .m-btns .calc .minus, .modal .modal-textos .m-btns .calc .plus {
  background-color: #FFFCF2;
  border-radius: 50%;
  font-size: 18px;
  transition: 0.3s;
}
.modal .modal-textos .m-btns .calc .n-card {
  font-size: 23px;
  margin: 0 20px;
  width: 15px;
  max-width: 20px;
}
.modal .modal-textos .m-btns .calc .minus:hover, .modal .modal-textos .m-btns .calc .plus:hover {
  transform: scale(1.05);
}
.modal .modal-textos .m-btns .add {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Abhaya";
  font-size: 18px;
  font-weight: 700;
  background-color: #A47148;
  color: #FFFCF2;
  width: 150px;
  border-radius: 30px;
  margin: 0 15px;
  transition: 0.3s;
}
.modal .modal-textos .m-btns .add i {
  margin-left: 10px;
  font-size: 23px;
}
.modal .modal-textos .m-btns .add:hover {
  transform: scale(1.05);
  background-color: #8B5E34;
}

.modal.sale {
  overflow-y: scroll;
}
.modal.sale .price {
  display: none;
}
.modal.sale .modal-img {
  display: none;
}
.modal.sale .m-btns {
  display: none;
}
.modal.sale .p-lista {
  padding-bottom: 20px;
}
.modal.sale ul {
  margin: 10px 0 10px 15px;
}
.modal.sale ul ul {
  padding-left: 20px;
}
.modal.sale ul li {
  list-style: disc;
  font-size: 20px;
}
.modal.sale ol {
  margin: 10px 0 10px 15px;
  padding-left: 20px;
}
.modal.sale ol li {
  list-style: decimal;
}
.modal.sale ol ul li {
  list-style: disc;
}

.modal.hide {
  top: 2000px;
  pointer-events: none;
}

.fade.hide {
  opacity: 0;
  pointer-events: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 250px;
  background-image: url(../../assets/imagens/Footer-Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -150px;
  z-index: 1;
  filter: brightness(90%);
}

.f-brand {
  display: flex;
  align-items: center;
  z-index: 2;
}

.f-brand .img-brand {
  margin: 20px;
}
.f-brand .img-brand img {
  width: 140px;
}

.f-brand .text-brand h3 {
  font-size: 40px;
  border-bottom: 1px solid #FFFCF2;
  padding: 10px 10px 10px 0;
}
.f-brand .text-brand p {
  font-size: 18px;
  padding: 10px 10px 10px 0;
}

.contacts {
  display: flex;
  align-items: center;
  margin: 20px;
}

.contacts .phone-num {
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
  border-right: 1px solid #FFFCF2;
  padding: 10px;
  display: flex;
  align-items: center;
}
.contacts .phone-num li {
  list-style: disc;
  padding: 10px;
}

.contacts .social-media {
  display: flex;
  flex-direction: column;
}
.contacts .social-media a {
  color: #FFFCF2;
}
.contacts .social-media i {
  font-size: 30px;
  padding: 5px;
}

.cardapio-parallax {
  background-image: url(../../assets/imagens/parallax-cardapio.jpeg);
  width: 1150px;
}

@media screen and (max-width: 480px) {
  .container {
    margin: 0;
    margin-left: 50px;
  }
  .title {
    background-size: contain;
    width: 90%;
    margin: 20px 20px;
  }
  .title h1 {
    font-size: 50px;
    text-align: center;
  }
  .sec-toggler {
    margin: 0px;
    border-radius: 0;
    width: 300px;
    max-width: 100%;
  }
  .sec-toggler .open {
    font-size: 13px;
    padding: 15px;
  }
  .section {
    height: auto;
    max-width: 100%;
  }
  .card {
    width: 300px;
    margin: 30px 0px 100px 0px;
  }
  .card .card-body {
    height: 120px;
  }
  .card .card-body p {
    display: none;
  }
  .modal {
    height: 600px;
    max-width: 95%;
  }
  .modal-img {
    display: none;
  }
  .modal .modal-textos .header {
    width: 370px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .modal .modal-textos .header .brand-modal {
    padding: 0;
    width: 100px;
  }
  .modal .modal-textos .m-principal {
    padding: 10px;
    width: 370px;
  }
  .modal .modal-textos .m-principal .m-title {
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal .modal-textos .m-principal h1 {
    font-size: 29px;
  }
  .modal .modal-textos .m-principal p {
    font-size: 20px;
    text-align: justify;
  }
  .modal .m-btns {
    width: 95%;
  }
  footer {
    height: 600px;
    flex-direction: column;
    justify-content: center;
    background-position-y: 1px;
  }
  .contacts .phone-num {
    border: 0;
    border-bottom: 1px solid #FFFCF2;
  }
  .contacts .social-media {
    flex-direction: row;
  }
  .cabecalho-2 nav.navbar-2 {
    display: none;
  }
  .navbar-2 ul li {
    display: none;
  }
  .abrir-menu {
    text-align: right;
    font-size: 50px;
    width: 200px;
    padding: 30px 20px 20px 20px;
  }
}
.b-carrinho {
  color: #FFFCF2;
  font-family: "Abhaya";
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 100vw;
}

.cabecalho-2 {
  background-image: linear-gradient(90deg, black, black, transparent, transparent), url(../../assets/imagens/imagem-home.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-flex;
}

.cabecalho-2 .brand {
  width: 50vw;
  display: flex;
}

.cabecalho-2 .brand .brand-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cabecalho-2 .brand .brand-text .brand-title {
  font-family: "Abhaya";
  font-size: 28px;
}

.cabecalho-2 .brand .brand-text .brand-subtitle {
  font-weight: 300;
  font-size: 20px;
}

.cabecalho-2 .brand img {
  width: 90px;
}

.cabecalho-2 .navbar-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
}

.cabecalho-2 .navbar-2 ul {
  display: flex;
}

.cabecalho-2 .navbar-2 ul li a {
  margin: 0 15px 0 15px;
  text-decoration: none;
  color: #FFFCF2;
}

.cart .main-title {
  display: grid;
  place-content: center;
  margin: 30px;
}

.cart-title {
  font-size: 50px;
  border-top: 1px solid #FFFCF2;
  border-bottom: 1px solid #FFFCF2;
  margin: 30px 10px;
  padding: 10px;
}

.cart-products-title {
  font-size: 30px;
  margin: 10px 50px;
  padding: 5px;
  border-bottom: 1px solid #FFFCF2;
}

.section-cart {
  margin: 10px 50px;
}

.empty-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 70px;
}

.item-cart {
  padding: 20px;
  background-color: #403D39;
  margin: 10px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-cart .product-text {
  display: flex;
  flex-direction: column;
}
.item-cart .product-text .product-title {
  font-size: 32px;
  padding: 10px;
  margin: 5px 10px;
}
.item-cart .product-text .product-price-text {
  font-size: 27px;
  padding: 10px;
  margin: 5px 10px;
}
.item-cart .product-text .product-price {
  font-size: 27px;
  margin: 5px 10px;
  color: #E7BC91;
}

.item-cart .product-btn .remove-cart {
  background-color: transparent;
  margin: 5px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.item-cart .product-btn .remove-cart i {
  font-size: 30px;
  color: #E7BC91;
}
.item-cart .product-btn .remove-cart:hover {
  transform: translateY(-8px)scale(1.1);
}

.payment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #403D39;
  margin-top: 104px;
  width: 100vw;
}

.payment .total-price {
  padding: 20px;
  font-size: 20px;
}
.payment .total-price #priceDiv {
  color: #E7BC91;
}

.payment .payment-btn {
  padding: 20px;
}
.payment .payment-btn button {
  font-family: "Abhaya";
  background-color: #A47148;
  padding: 20px;
  color: #FFFCF2;
  font-size: 18px;
  border-radius: 15px;
  transition: 0.3s;
}
.payment .payment-btn button:hover {
  transform: scale(1.08);
  cursor: pointer;
  border: 1px solid #BC8A5F;
}

@media screen and (max-width: 480px) {
  .cart .cart-title {
    font-size: 50px;
    text-align: center;
  }
}
#brand {
  cursor: pointer;
}

.f-body {
  color: #FFFCF2;
  overflow-x: scroll;
}

.foto-bytes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto-bytes img {
  width: 550px;
  margin: 50px;
}

.texto-bytes {
  background-color: #403D39;
  margin: 0px 40px 40px 40px;
  border-radius: 30px;
}

.nome-bytes {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 40px 0px 40px;
  font-size: 40px;
}

.bio-bytes {
  padding: 40px;
  text-align: justify;
  font-size: 20px;
}

.fundadores {
  margin: 40px;
}

.card-fond {
  display: flex;
  padding-bottom: 40px;
}

.foto-fond img {
  width: 300px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.cont-fond {
  background-color: #403D39;
  width: 80%;
  height: 300px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
}

.nome-card {
  border-bottom: 1px solid #FFFCF2;
  width: 300px;
  padding-bottom: 20px;
  font-size: 40px;
}

.bio-card {
  padding-top: 20px;
  text-align: justify;
  font-size: 20px;
}

@media (max-width: 480px) {
  .foto-bytes img {
    width: 320px;
  }
  .card-fond {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bio-bytes {
    display: none;
  }
  .nome-bytes {
    margin: 0;
    padding: 0;
  }
  .foto-fond {
    height: 320px;
  }
  .foto-fond img {
    width: 320px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }
  .cont-fond {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    width: 320px;
    height: 80px;
    padding: 0;
  }
  .bio-card {
    display: none;
  }
  .nome-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    margin: 0;
    padding: 20px;
  }
}
#history {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-egg {
  margin: 10px;
  padding: 10px;
}

.title-egg h1 {
  font-size: 40px;
}

.photo-egg {
  display: flex;
  align-items: center;
}

.photo-egg img {
  width: 600px;
  margin: 20px;
}

#history.show {
  display: flex;
}

/* Reset de margens e fontes padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: "Arial", sans-serif;
}

header {
  color: #FFFCF2;
}

/* Seção principal */
.main {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 20px;
}

/* Fundo translúcido cobrindo toda a imagem */
.hero {
  width: 80%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2rem;
  text-align: center;
  border-radius: 25px;
  margin: 30px;
  background-image: url(../../assets/imagens/img-suporte.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 20px 20px 5px black;
}

/* Título */
.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

/* Texto descritivo */
.hero p {
  font-size: 20px;
  max-width: 800px;
  line-height: 1.8;
}

/* Botão principal */
.contact-button {
  padding: 12px 100px;
  background-color: #BC8A5F;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1.5rem;
  transition: all 0.3s ease;
}

.contact-button:hover {
  background-color: #A3754E;
  transform: scale(1.05);
}

/* Responsividade */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 30px;
  }
  .hero p {
    font-size: 1rem;
  }
  .contact-button {
    padding: 10px 20px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Abhaya";
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  background-color: #252422;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #403D39;
  border-radius: 20px;
}/*# sourceMappingURL=style.css.map */