@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abhaya Libre";
}

body {
  background-color: #252422;
}

html {
  scrollbar-width: none;
}

.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 45px;
}

.home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to left, rgba(64, 44, 14, 0.407), #000408), url("../../assets/imagens/background-home.jpg");
  left: 0;
  top: 0;
  width: 100%;
  height: 700px;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 90% 0;
  opacity: 10;
}

.cabecalho {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.navbar ul {
  display: flex;
  gap: 60px;
}
.navbar li a {
  color: #FFFCF2;
  cursor: pointer;
  font-size: 1.3rem;
}

button {
  border: 0;
  font-size: 1.3rem;
}

.login {
  background-color: #252422;
  color: #BC8A5F;
  font-weight: 700;
  border: 2px solid #BC8A5F;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: 500ms;
}

.login:hover {
  transform: translateY(-5px);
  background-color: #FFFCF2;
  color: #252422;
  border: 0;
}

.sing-in {
  background-color: #BC8A5F;
  font-weight: 700;
  color: #FFFCF2;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: 500ms;
}

.sing-in:hover {
  transform: translateY(-5px);
  background-color: #FFFCF2;
  color: #252422;
  border: 0;
}

.btn-abrir-menu i {
  display: none;
  font-size: 40px;
  cursor: pointer;
}

.menu-mobile {
  display: flex;
  flex-direction: column;
  background-color: #403D39;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 0%;
  overflow: hidden;
  transition: 0.5s;
}

.menu-mobile.abrir-menu {
  width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
  display: block;
}

.menu-mobile .btn-fechar {
  padding: 22px 4%;
  display: flex;
  justify-content: end;
}

.menu-mobile .btn-fechar i {
  color: #FFFCF2;
  font-size: 40px;
  cursor: pointer;
}

.menu-mobile nav ul {
  text-align: right;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.menu-mobile nav ul li {
  display: flex;
}

.menu-mobile nav ul li i {
  font-size: 2rem;
}

.menu-mobile nav ul li a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 20px 8%;
  display: block;
}

.menu-mobile nav ul li:hover {
  background-color: #BC8A5F;
  color: #FFFCF2;
}

.cardapio, .produtos, .suporte {
  margin-right: 30px;
}

.sobre {
  margin-right: 50px;
}

.overlay-menu {
  background-color: rgba(0, 0, 0, 0.6549019608);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 8888;
  display: none;
}

.text-inicial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}
.text-inicial img {
  width: 300px;
  height: auto;
}
.text-inicial h1 {
  color: #FFFCF2;
  font-size: 3.5rem;
  margin-top: -30px;
}
.text-inicial p {
  color: #FFFCF2;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 3px;
  line-height: 4px;
}
.text-inicial .btn-veja-mais {
  width: 370px;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #BC8A5F;
  color: #FFFCF2;
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 500ms;
}
.text-inicial .btn-veja-mais:hover {
  transform: translateY(-5px);
  background-color: #FFFCF2;
  color: #252422;
}

.container-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-principal hr {
  color: #FFFCF2;
  width: 1450px;
}
.container-principal h1 {
  color: #FFFCF2;
  margin-top: 50px;
  font-size: 3rem;
}

.container-video {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.video video {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.container-texto-imagens {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 700px;
  padding: 50px 9%;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.3));
}
.container-texto-imagens .textos h1 {
  color: #FFFCF2;
  font-size: 5.6rem;
  margin-bottom: -20px;
}
.container-texto-imagens .textos h2 {
  color: #A47148;
  font-size: 3rem;
  margin-bottom: 30px;
}
.container-texto-imagens .textos p {
  color: #FFFCF2;
  font-size: 1.5rem;
  line-height: 2.3rem;
  letter-spacing: 0.3px;
  text-align: justify;
  text-indent: 50px;
}
.container-texto-imagens .textos p span {
  text-transform: uppercase;
  font-weight: 800;
  color: #E7BC91;
}
.container-texto-imagens .imagem-capa img {
  width: 600px;
}

.conheca {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 8%;
  margin-bottom: 50px;
  gap: 50px;
}
.conheca h1 {
  font-size: 5.6rem;
  color: #FFFCF2;
}
.conheca .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 270px;
}
.conheca .cards .icone-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.conheca .cards .icone-card i {
  color: #E7BC91;
  font-size: 5rem;
}
.conheca .cards .icone-card p {
  color: #FFFCF2;
  width: 300px;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.horario-localizacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  background-color: #403D39;
  padding: 40px 8%;
}
.horario-localizacao h1 {
  font-size: 5.6rem;
  color: #F3D5B5;
}
.horario-localizacao .funcionamento {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
.horario-localizacao .funcionamento .horario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.horario-localizacao .funcionamento .horario span {
  text-align: center;
  color: #E7BC91;
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 800;
}
.horario-localizacao .funcionamento .horario p {
  color: #FFFCF2;
  font-size: 2.2rem;
}
.horario-localizacao .funcionamento .localizacao iframe {
  width: 700px;
  height: 400px;
  border-radius: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  background-image: url("../../assets/imagens/Footer-Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 60%;
  z-index: 1;
}

.f-brand {
  display: flex;
  align-items: center;
}

.f-brand .img-brand {
  margin: 20px;
}
.f-brand .img-brand img {
  width: 140px;
}

.f-brand .text-brand h3 {
  color: #FFFCF2;
  font-size: 2.7rem;
  border-bottom: 1px solid #FFFCF2;
  padding: 10px 10px 10px 0;
}
.f-brand .text-brand p {
  color: #FFFCF2;
  font-size: 1.5rem;
  padding: 10px 10px 10px 0;
}

.contacts {
  display: flex;
  align-items: center;
  margin: 20px;
}
.contacts hr {
  height: 250px;
}

.contacts .phone-num {
  font-size: 25px;
  font-weight: 700;
  padding: 10px;
  display: flex;
  align-items: center;
}
.contacts .phone-num li {
  list-style: disc;
  padding: 10px;
  color: #FFFCF2;
}

.contacts .social-media {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 10px;
}
.contacts .social-media a {
  color: #FFFCF2;
  transition: 0.5s;
}
.contacts .social-media i {
  font-size: 36px;
  padding: 5px;
}

.contacts .social-media a:hover {
  color: #E7BC91;
  transform: scale(1.1);
}

@media (max-width: 480px) {
  .text-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
  }
  .text-inicial img {
    width: 150px;
    height: auto;
  }
  .text-inicial h1 {
    font-size: 2.7rem;
  }
  .text-inicial p {
    font-size: 1.3rem;
  }
  .text-inicial .btn-veja-mais {
    width: 250px;
    height: 50px;
  }
  .cabecalho {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
  }
  .btn-abrir-menu i {
    display: block;
    color: #FFFCF2;
    font-size: 40px;
    margin-right: 300px;
  }
  .navbar {
    display: none;
  }
  .botoes {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 19px;
    margin-top: 20px;
  }
  .botoes .login {
    background-color: #252422;
    color: #BC8A5F;
    font-weight: 700;
    border: 2px solid #BC8A5F;
    width: 180px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms;
  }
  .botoes .login:hover {
    transform: translateY(-5px);
    background-color: #FFFCF2;
    color: #252422;
    border: 0;
  }
  .botoes .sing-in {
    background-color: #BC8A5F;
    font-weight: 700;
    color: #FFFCF2;
    width: 180px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms;
  }
  .botoes .sing-in:hover {
    transform: translateY(-5px);
    background-color: #FFFCF2;
    color: #252422;
    border: 0;
  }
  .video video {
    height: 1160px;
  }
  .container-texto-imagens {
    height: 1160px;
    gap: 20px;
    flex-direction: column;
  }
  .container-texto-imagens .textos h1 {
    color: #FFFCF2;
    font-size: 3.5rem;
    margin-bottom: 3px;
    text-align: center;
  }
  .container-texto-imagens .textos h2 {
    color: #BC8A5F;
    font-size: 2.1rem;
    margin-bottom: 17px;
    text-align: center;
  }
  .container-texto-imagens .textos p {
    color: #FFFCF2;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.2px;
    text-align: justify;
    text-indent: 50px;
    padding: 13px;
  }
  .container-texto-imagens .textos p span {
    text-transform: uppercase;
    font-weight: 800;
    color: #E7BC91;
  }
  .container-texto-imagens .imagem-capa img {
    width: 350px;
  }
  .conheca {
    padding: 20px 4%;
    margin-bottom: 50px;
    gap: 60px;
  }
  .conheca h1 {
    font-size: 4rem;
  }
  .conheca .cards {
    flex-direction: column;
    gap: 70px;
  }
  .conheca .cards .icone-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }
  .conheca .cards .icone-card i {
    color: #E7BC91;
    font-size: 4.5rem;
  }
  .conheca .cards .icone-card p {
    color: #FFFCF2;
    width: 300px;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  .horario-localizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 100%;
    background-color: #403D39;
    padding: 40px 8%;
  }
  .horario-localizacao h1 {
    font-size: 3.5rem;
    text-align: center;
    color: #F3D5B5;
    margin-bottom: -18px;
  }
  .horario-localizacao .funcionamento {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .horario-localizacao .funcionamento .horario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .horario-localizacao .funcionamento .horario span {
    text-align: center;
    color: #E7BC91;
    text-transform: uppercase;
    font-size: 2.1rem;
    font-weight: 800;
  }
  .horario-localizacao .funcionamento .horario p {
    color: #FFFCF2;
    font-size: 2.2rem;
  }
  .horario-localizacao .funcionamento .localizacao iframe {
    width: 320px;
    height: 320px;
    border-radius: 10px;
  }
  footer {
    flex-direction: column;
    height: 570px;
  }
  .f-brand {
    flex-direction: column;
  }
  .f-brand .img-brand {
    margin-bottom: -15px;
  }
  .f-brand .img-brand img {
    width: 140px;
  }
  .f-brand .text-brand h3 {
    text-align: center;
  }
  .f-brand .text-brand p {
    font-size: 1.3rem;
    padding: 10px 10px 10px 0;
    text-align: center;
    text-indent: 4px;
  }
  .contacts {
    flex-direction: column;
  }
  .contacts hr {
    height: 0px;
    width: 320px;
  }
  .contacts .phone-num {
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  .contacts .phone-num li {
    list-style: disc;
    padding: 10px;
    color: #FFFCF2;
  }
  .contacts .social-media {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-left: 12px;
    margin-top: 10px;
  }
  .contacts .social-media a {
    color: #FFFCF2;
    transition: 0.5s;
  }
  .contacts .social-media i {
    font-size: 36px;
    padding: 5px;
  }
  .contacts .social-media a:hover {
    color: #E7BC91;
    transform: scale(1.1);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
}

.logo-login img {
  width: 100px;
}

h1 {
  color: #FFFCF2;
}

#imagem-fundo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(to right, rgba(5, 3, 0, 0.689), rgba(0, 4, 8, 0.6117647059)), url("../../assets/imagens/background-login-signin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 90%;
  position: relative;
}
#imagem-fundo #cadastro {
  background-color: rgba(80, 78, 78, 0.463);
  border: 3px solid #FFFCF2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 400px;
  height: 600px;
  gap: 20px;
}
#imagem-fundo #cadastro h3 {
  color: #FFFCF2;
  font-size: 2rem;
  text-align: center;
}
#imagem-fundo #cadastro form input {
  width: 270px;
  height: 50px;
  border-radius: 10px;
  padding: 0 10px;
  background-color: rgba(116, 73, 33, 0.877);
  border: 0;
  color: #FFFCF2;
}
#imagem-fundo #cadastro input::-moz-placeholder {
  color: #FFFCF2;
}
#imagem-fundo #cadastro input::placeholder {
  color: #FFFCF2;
}
#imagem-fundo #cadastro input:focus {
  outline: none;
}
#imagem-fundo #cadastro #erro {
  color: red;
  margin-top: 3px;
  display: none;
}
#imagem-fundo #cadastro .criar-ou-enviar {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 20px;
}
#imagem-fundo #cadastro .criar-ou-enviar .esqueceu-senha {
  color: #FFFCF2;
  text-decoration: underline;
}
#imagem-fundo #cadastro .criar-ou-enviar .btn {
  background-color: #D4A276;
  width: 270px;
  height: 40px;
  border-radius: 10px;
  font-size: 1rem;
  color: #FFFCF2;
  transition: 500ms;
  cursor: pointer;
}
#imagem-fundo #cadastro .criar-ou-enviar .btn:hover {
  transform: translateY(-5px);
  background-color: #FFFCF2;
  color: #252422;
}
#imagem-fundo #cadastro .linhas {
  display: flex;
  align-items: center;
  gap: 5px;
}
#imagem-fundo #cadastro .linhas p {
  color: #FFFCF2;
}
#imagem-fundo #cadastro .linhas hr {
  width: 150px;
  height: 2px;
}
#imagem-fundo #cadastro .opcoes-login {
  display: flex;
  flex-direction: column;
}
#imagem-fundo #cadastro .opcoes-login li {
  border: 2px solid #FFFCF2;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #FFFCF2;
  cursor: pointer;
  transition: 0.5s ease;
}
#imagem-fundo #cadastro .opcoes-login i {
  margin-right: 6px;
}
#imagem-fundo #cadastro .opcoes-login li:hover {
  background-color: #FFFCF2;
  color: rgba(116, 73, 33, 0.877);
  transform: scale(1.1);
}
#imagem-fundo #cadastro .div-criar-conta {
  display: flex;
  flex-direction: row;
  gap: 3px;
}
#imagem-fundo #cadastro .div-criar-conta p {
  color: #FFFCF2;
}
#imagem-fundo #cadastro .div-criar-conta .criar-conta {
  color: #FFFCF2;
  text-decoration: underline;
}

@media (max-width: 480px) {
  #imagem-fundo #cadastro {
    background-color: transparent;
    border: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cadastro-signin p {
  color: #FFFCF2;
}
.cadastro-signin p a {
  color: #FFFCF2;
  text-decoration: underline;
}
.cadastro-signin #conta-criada {
  color: rgb(8, 222, 8);
  margin-top: 3px;
  display: none;
}
.cadastro-signin .btn {
  background-color: #D4A276;
  width: 270px;
  height: 40px;
  border-radius: 10px;
  font-size: 1rem;
  color: #FFFCF2;
  transition: 500ms;
  cursor: pointer;
}
.cadastro-signin .btn:hover {
  transform: translateY(-5px);
  background-color: #FFFCF2;
  color: #252422;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Abhaya";
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */